<div class="row">
  <div class="row">
    <div class="col-xs-12">
      <img
        style="height:300px;
      width: 300px;
      border: 5px solid #337ab7 ;padding: 10px;
      margin-left: auto;
      margin-right: auto"
        src="{{recipe.imagepath}}"
        alt="{{recipe.name}}"
        class="img-responsive">
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h2 style="text-align: center;color: white;padding: 5px;width: 70%;margin:20px auto"
          class="label-primary">{{recipe.name}}</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="btn-group" app-dropdown>
        <button style="margin-right:0" type="button" class="btn btn-primary dropdown-toggle"> Manage Recipe
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li><a (click)="shoppinglistadded()" style="cursor: pointer;">To shopping List</a></li>
          <li><a (click)="editrecipe()">Edit Recipe</a></li>
          <li><a (click)="ondelete()">Delete Recipe</a></li>
        </ul>
      </div>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-xs-12">
      <p>{{recipe.description}}</p>
      <ul class="list-group" *ngFor="let ingredians of recipe.ingredients">
        <li class="list-group-item">
          {{ingredians.ingredients_name}}
        </li>
        <li class="list-group-item">
          {{ingredians.amount}}

        </li>
      </ul>
    </div>
  </div>
</div>


